

.main-div-wrapper{width:900px;overflow:hidden;background:#529826;padding-left:20px;padding-right:20px;padding-bottom:24px;margin-bottom:11px;margin-left:auto;margin-right:auto;}

.header-div-wrapper{background:white;width:100%;overflow:hidden;position:relative;}

.header-inside-wrapper{overflow:hidden;width:417px;margin-left:240px;margin-right:243px;margin-top:15px;margin-bottom:21px;}
.header-inside-wrapper a{text-decoration:none;color:#529826;}
.inside-bottom-wrapper a{color:#efaf63;}
		
.inside-left-wrapper{float:left;margin-top:23px;margin-right:43px;}
.inside-right-wrapper{float:left;position: absolute;left: 596px;top: 25px;}

.inside-top-wrapper{width:313px;}
.inside-bottom-wrapper{float:right;}
.weather-div{position: absolute;top:47px;left:676px;color:#60834c;font-weight: lighter;}
.weather-wrapper-div{position: absolute;top: 65px;left: 675px;}
.weather-result-wrapper{position:absolute;top:92px;left:680px;color:#60834c;}
#searchCity{padding:1px;color:#efaf63;}
#btn{background:#529826;color:white;}

.menu-bar-wrapper{width:100%;overflow:hidden;background:#4b4b4b;padding-left:5px;margin-bottom:1px;}

.body-first-div{position:relative;}
.content-banner-div{position:absolute;top:322px;opacity: 0.8;border-bottom:2px solid #464a4b;}
.right-slider{position:absolute;top:398px;left:424px;}

.body-mid-div{overflow:hidden;padding-top:17px;padding-bottom:17px;border-bottom:1px solid #507a37;}
.mid-left-wrapper{float:left;width:274px;margin-right:46px;}
.mid-center-wrapper{float:left;width:250px;margin-right:50px;}
.mid-right-wrapper{float:left;width:254px;margin-right:26px;}

.mid-left-left-wrapper{float:left;margin-right:18px;margin-left:20px;}
.mid-left-right-wrapper{float:left;width:146px;}

.mid-center-left-wrapper{float:left;margin-right:19px;}
.mid-center-right-wrapper{float:left;width:141px;}

.mid-right-left-wrapper{float:left;margin-right:20px;}
.mid-right-right-wrapper{float:left;width:144px;}

.body-final-div{background:white;padding-top:23px;padding-left:20px;padding-right:20px;}

.body-final-top-wrapper{background:#dce9d4;padding-left:20px;line-height:36px;margin-bottom:23px;}

.body-final-middle-wrapper{overflow:hidden;border-bottom:1px solid #d7d6cd;padding-bottom:24px;}

.final-middle-left-wrapper{float:left;width:201px;margin-right:9px;}
	.middle-left-top-wrapper{width:200px;border-left:1px solid grey;}
.final-middle-mid1-wrapper{float:left;width:200px;margin-right:10px;margin-left:10px;}
.final-middle-mid2-wrapper{float:left;width:200px;margin-right:10px;margin-left:10px;}
.final-middle-right-wrapper{float:left;width:200px;margin-left:10px;}

.body-final-bottom-wrapper{overflow:hidden;padding-top:23px;padding-bottom:30px;}

.final-bottom-left-wrapper{float:left;width:300px;margin-right:20px;}
.final-bottom-right-wrapper{float:left;width:540px;}

.bottom-right-top-wrapper{background:#dce9d4;padding-left:20px;line-height:37px;margin-bottom:37px;}

.footer-div{margin:0px auto;width:900px;overflow:hidden;background:#529826;padding-left:20px;padding-right:20px;padding-top:24px;}

.footer-inside-top-wrapper{background:#dce9d4;overflow:hidden;}
.footer-inside-bottom-wrapper{background:#529826;padding-left:295px;padding-right:275px;line-height:49px;width:330px;text-shadow:1px 1px 1px #8da181;}


.footer-inside-top-left-wrapper{float:left;width:675px;}
.footer-inside-top-right-wrapper{float:left;width:170px;;padding-left:19px;padding-right:36px;}