
.map-wrapper{width:665px;border: 5px solid white;position:relative;}
#map-div {height:234px;margin:0px auto;padding:0px;}
.search-div{width:216px;top:190px;left:231px;position:absolute;}
.search-div form input{width:105px;text-align:center;}
.new-map{position:absolute;top:190px;left: 565px;}
#form{float:right;overflow:hidden;}
.input-text-wrapper{float:left;}
.search-btn-wrapper{float:right;}