
.map-wrapper{width:671px;border: 2px solid black;position:relative;}
#map-div {height:234px;margin:0px auto;padding:0px;}
.search-div{width:214px;top:190px;left:231px;position:absolute;}
.search-div form input{width:105px;text-align:center;}
#form{float:right;overflow:hidden;}
.input-text-wrapper{float:left;}
.search-btn-wrapper{float:right;}