
.inside-top-wrapper{color:#60834c;font-family:Arial, Helvetica, sans-serif;font-size:29px;}
.inside-bottom-wrapper{font-size: 14px;font-family: Arial;color: #efaf63;}

.heading1{font-family:Arial, Helvetica, sans-serif;font-size:16px;margin-top:0px;color:#e3e699;}
.paragraph1{font-family:Arial, Helvetica, sans-serif;font-size:14px;color:white;}

.body-final-top-wrapper{font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;font-size:18px;color:#767752;}

.heading2{font-family:Arial, Helvetica, sans-serif;font-size:16px;margin-top:24px;margin-bottom:18px;color:#366618;}
.paragraph2{font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#4b4b4b;}

.bottom-right-top-wrapper{font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;font-size:18px;color:#767752;}
.bottom-right-bottom-wrapper{font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#4b4b4b;}

.footer-inside-bottom-wrapper{font-family:Arial, Helvetica, sans-serif;font-size:14px;color:white;font-weight:normal;}

.heading3{font-family:Arial, Helvetica, sans-serif;font-size:18px;margin-bottom:18px;color:#366618;font-weight:lighter;}
.paragraph3{font-family:Arial, Helvetica, sans-serif;font-size:14px;color:#a4a8a1;}